astroid==2.3.3
aws-logging-handlers==2.0.3
awscli==1.16.281
boto3==1.10.17
botocore==1.13.17
colorama==0.4.1
docutils==0.15.2
fsspec==0.6.0
isort==4.3.21
jmespath==0.9.4
lazy-object-proxy==1.4.3
lxml==4.4.0
mccabe==0.6.1
numpy==1.22.0
pandas==0.23.4
psycopg2-binary==2.8.4
py4j==0.10.7
pyasn1==0.4.7
pylint==2.3.1
python-dateutil==2.8.0
pytz==2018.7
PyYAML==5.1
rsa==3.4.2
s3fs==0.3.3
s3transfer==0.2.1
six==1.13.0
typed-ast==1.4.0
urllib3==1.25.3
wrapt==1.11.2
